{
  "openapi": "3.0.0",
  "info": {
    "title": "Enbor API",
    "version": "1.0.0",
    "description": "Realmroot-native control-plane API for Enbor. Direct clients use a Realmroot access token in their registered Bearer or DPoP presentation mode, and every protected operation requires an exact resource scope. Internal browser-session endpoints are intentionally omitted."
  },
  "servers": [
    {
      "url": "https://enbor.realmroot.dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "sessionSocketTicket": {
        "type": "apiKey",
        "in": "header",
        "name": "Sec-WebSocket-Protocol",
        "description": "Single-use opaque ticket created by POST /sessions/{sessionId}/socket-tickets."
      },
      "inboxCallbackBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Per-Subscription high-entropy callback token registered by Agency with Inbox."
      },
      "oidcAccessToken": {
        "type": "openIdConnect",
        "openIdConnectUrl": "https://id.realmroot.dev/api/auth/.well-known/openid-configuration",
        "description": "Realmroot-issued RFC 9068 access token. Use the Bearer or DPoP presentation mode assigned to the registered client.",
        "x-dpop-supported": true
      }
    },
    "schemas": {
      "SessionSocketEventMessage": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "record": {
            "$ref": "#/components/schemas/SessionEvent"
          }
        },
        "required": [
          "type",
          "record"
        ]
      },
      "SessionEvent": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "sessionId": {
                "type": "string"
              },
              "sequence": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "type": "string",
                "enum": [
                  "runtime.started"
                ]
              },
              "payload": {
                "$ref": "#/components/schemas/RuntimeLifecyclePayload"
              }
            },
            "required": [
              "id",
              "sessionId",
              "sequence",
              "createdAt",
              "type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "sessionId": {
                "type": "string"
              },
              "sequence": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "type": "string",
                "enum": [
                  "runtime.completed"
                ]
              },
              "payload": {
                "$ref": "#/components/schemas/RuntimeLifecyclePayload"
              }
            },
            "required": [
              "id",
              "sessionId",
              "sequence",
              "createdAt",
              "type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "sessionId": {
                "type": "string"
              },
              "sequence": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "type": "string",
                "enum": [
                  "turn.started"
                ]
              },
              "payload": {
                "$ref": "#/components/schemas/TurnPayload"
              }
            },
            "required": [
              "id",
              "sessionId",
              "sequence",
              "createdAt",
              "type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "sessionId": {
                "type": "string"
              },
              "sequence": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "type": "string",
                "enum": [
                  "turn.completed"
                ]
              },
              "payload": {
                "$ref": "#/components/schemas/TurnPayload"
              }
            },
            "required": [
              "id",
              "sessionId",
              "sequence",
              "createdAt",
              "type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "sessionId": {
                "type": "string"
              },
              "sequence": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "type": "string",
                "enum": [
                  "message.started"
                ]
              },
              "payload": {
                "$ref": "#/components/schemas/MessageEventPayload"
              }
            },
            "required": [
              "id",
              "sessionId",
              "sequence",
              "createdAt",
              "type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "sessionId": {
                "type": "string"
              },
              "sequence": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "type": "string",
                "enum": [
                  "message.updated"
                ]
              },
              "payload": {
                "$ref": "#/components/schemas/MessageEventPayload"
              }
            },
            "required": [
              "id",
              "sessionId",
              "sequence",
              "createdAt",
              "type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "sessionId": {
                "type": "string"
              },
              "sequence": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "type": "string",
                "enum": [
                  "message.completed"
                ]
              },
              "payload": {
                "$ref": "#/components/schemas/MessageEventPayload"
              }
            },
            "required": [
              "id",
              "sessionId",
              "sequence",
              "createdAt",
              "type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "sessionId": {
                "type": "string"
              },
              "sequence": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "type": "string",
                "enum": [
                  "usage.recorded"
                ]
              },
              "payload": {
                "$ref": "#/components/schemas/UsageRecordedPayload"
              }
            },
            "required": [
              "id",
              "sessionId",
              "sequence",
              "createdAt",
              "type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "sessionId": {
                "type": "string"
              },
              "sequence": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "type": "string",
                "enum": [
                  "permission.requested"
                ]
              },
              "payload": {
                "$ref": "#/components/schemas/PermissionRequestPayload"
              }
            },
            "required": [
              "id",
              "sessionId",
              "sequence",
              "createdAt",
              "type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "sessionId": {
                "type": "string"
              },
              "sequence": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "type": "string",
                "enum": [
                  "permission.resolved"
                ]
              },
              "payload": {
                "$ref": "#/components/schemas/PermissionResolvedPayload"
              }
            },
            "required": [
              "id",
              "sessionId",
              "sequence",
              "createdAt",
              "type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "sessionId": {
                "type": "string"
              },
              "sequence": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "type": "string",
                "enum": [
                  "permission.denied"
                ]
              },
              "payload": {
                "$ref": "#/components/schemas/PermissionDeniedPayload"
              }
            },
            "required": [
              "id",
              "sessionId",
              "sequence",
              "createdAt",
              "type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "sessionId": {
                "type": "string"
              },
              "sequence": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "type": "string",
                "enum": [
                  "runtime.error"
                ]
              },
              "payload": {
                "$ref": "#/components/schemas/EventError"
              }
            },
            "required": [
              "id",
              "sessionId",
              "sequence",
              "createdAt",
              "type",
              "payload"
            ],
            "additionalProperties": false
          }
        ]
      },
      "RuntimeLifecyclePayload": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "TurnPayload": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "message": {
            "$ref": "#/components/schemas/EventMessage"
          }
        },
        "additionalProperties": false
      },
      "EventMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system",
              "tool"
            ]
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageContentBlock"
            }
          },
          "providerMessageId": {
            "type": "string"
          },
          "parentMessageId": {
            "type": "string"
          },
          "parentToolCallId": {
            "type": "string"
          },
          "stopReason": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "role",
          "content"
        ],
        "additionalProperties": false
      },
      "MessageContentBlock": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextContentBlock"
          },
          {
            "$ref": "#/components/schemas/ReasoningContentBlock"
          },
          {
            "$ref": "#/components/schemas/ToolCallContentBlock"
          },
          {
            "$ref": "#/components/schemas/ToolResultContentBlock"
          },
          {
            "$ref": "#/components/schemas/ImageContentBlock"
          },
          {
            "$ref": "#/components/schemas/FileContentBlock"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "text": "#/components/schemas/TextContentBlock",
            "reasoning": "#/components/schemas/ReasoningContentBlock",
            "tool_call": "#/components/schemas/ToolCallContentBlock",
            "tool_result": "#/components/schemas/ToolResultContentBlock",
            "image": "#/components/schemas/ImageContentBlock",
            "file": "#/components/schemas/FileContentBlock"
          }
        }
      },
      "TextContentBlock": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ]
          },
          "text": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "text"
        ]
      },
      "ReasoningContentBlock": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "reasoning"
            ]
          },
          "text": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "text"
        ]
      },
      "ToolCallContentBlock": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "tool_call"
            ]
          },
          "toolCall": {
            "$ref": "#/components/schemas/EventToolCall"
          }
        },
        "required": [
          "type",
          "toolCall"
        ]
      },
      "EventToolCall": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "enum": [
                  "bash"
                ]
              },
              "input": {
                "$ref": "#/components/schemas/BashToolInput"
              }
            },
            "required": [
              "id",
              "name",
              "input"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "enum": [
                  "read"
                ]
              },
              "input": {
                "$ref": "#/components/schemas/ReadToolInput"
              }
            },
            "required": [
              "id",
              "name",
              "input"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "enum": [
                  "write"
                ]
              },
              "input": {
                "$ref": "#/components/schemas/WriteToolInput"
              }
            },
            "required": [
              "id",
              "name",
              "input"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "enum": [
                  "edit"
                ]
              },
              "input": {
                "$ref": "#/components/schemas/EditToolInput"
              }
            },
            "required": [
              "id",
              "name",
              "input"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "enum": [
                  "grep"
                ]
              },
              "input": {
                "$ref": "#/components/schemas/GrepToolInput"
              }
            },
            "required": [
              "id",
              "name",
              "input"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "enum": [
                  "find"
                ]
              },
              "input": {
                "$ref": "#/components/schemas/FindToolInput"
              }
            },
            "required": [
              "id",
              "name",
              "input"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "enum": [
                  "ls"
                ]
              },
              "input": {
                "$ref": "#/components/schemas/LsToolInput"
              }
            },
            "required": [
              "id",
              "name",
              "input"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "enum": [
                  "fetch"
                ]
              },
              "input": {
                "$ref": "#/components/schemas/FetchToolInput"
              }
            },
            "required": [
              "id",
              "name",
              "input"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "enum": [
                  "web_search"
                ]
              },
              "input": {
                "$ref": "#/components/schemas/WebSearchToolInput"
              }
            },
            "required": [
              "id",
              "name",
              "input"
            ],
            "additionalProperties": false
          },
          {
            "$ref": "#/components/schemas/ExternalToolCall"
          }
        ]
      },
      "BashToolInput": {
        "type": "object",
        "properties": {
          "command": {
            "type": "string",
            "minLength": 1
          },
          "timeout": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true
          }
        },
        "required": [
          "command"
        ],
        "additionalProperties": false
      },
      "ReadToolInput": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "minLength": 1
          },
          "offset": {
            "type": "integer",
            "minimum": 0
          },
          "limit": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "path"
        ],
        "additionalProperties": false
      },
      "WriteToolInput": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "minLength": 1
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "path",
          "content"
        ],
        "additionalProperties": false
      },
      "EditToolInput": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "minLength": 1
          },
          "edits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "oldText": {
                  "type": "string",
                  "minLength": 1
                },
                "newText": {
                  "type": "string"
                }
              },
              "required": [
                "oldText",
                "newText"
              ],
              "additionalProperties": false
            },
            "minItems": 1
          }
        },
        "required": [
          "path",
          "edits"
        ],
        "additionalProperties": false
      },
      "GrepToolInput": {
        "type": "object",
        "properties": {
          "pattern": {
            "type": "string",
            "minLength": 1
          },
          "path": {
            "type": "string",
            "minLength": 1
          },
          "glob": {
            "type": "string",
            "minLength": 1
          },
          "ignoreCase": {
            "type": "boolean"
          },
          "literal": {
            "type": "boolean"
          },
          "context": {
            "type": "integer",
            "minimum": 0
          },
          "limit": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "pattern"
        ],
        "additionalProperties": false
      },
      "FindToolInput": {
        "type": "object",
        "properties": {
          "pattern": {
            "type": "string",
            "minLength": 1
          },
          "glob": {
            "type": "string",
            "minLength": 1
          },
          "path": {
            "type": "string",
            "minLength": 1
          },
          "limit": {
            "type": "integer",
            "minimum": 0
          }
        },
        "additionalProperties": false
      },
      "LsToolInput": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "minLength": 1
          },
          "limit": {
            "type": "integer",
            "minimum": 0
          }
        },
        "additionalProperties": false
      },
      "FetchToolInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "url"
        ],
        "additionalProperties": false
      },
      "WebSearchToolInput": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1
          },
          "limit": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "query"
        ],
        "additionalProperties": false
      },
      "ExternalToolCall": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "input": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "id",
          "name",
          "input"
        ],
        "additionalProperties": false
      },
      "ToolResultContentBlock": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "tool_result"
            ]
          },
          "toolCallId": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/ToolResult"
          },
          "error": {
            "$ref": "#/components/schemas/EventError"
          }
        },
        "required": [
          "type",
          "toolCallId",
          "result"
        ]
      },
      "ToolResult": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolResultValueContentBlock"
            }
          },
          "structuredContent": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "exitCode": {
            "type": "integer"
          }
        },
        "required": [
          "content"
        ],
        "additionalProperties": false
      },
      "ToolResultValueContentBlock": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextContentBlock"
          },
          {
            "$ref": "#/components/schemas/ImageContentBlock"
          },
          {
            "$ref": "#/components/schemas/FileContentBlock"
          },
          {
            "$ref": "#/components/schemas/JsonContentBlock"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "text": "#/components/schemas/TextContentBlock",
            "image": "#/components/schemas/ImageContentBlock",
            "file": "#/components/schemas/FileContentBlock",
            "json": "#/components/schemas/JsonContentBlock"
          }
        }
      },
      "ImageContentBlock": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image"
            ]
          },
          "url": {
            "type": "string"
          },
          "mediaType": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "FileContentBlock": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "file"
            ]
          },
          "path": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "mediaType": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "JsonContentBlock": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "json"
            ]
          },
          "value": {
            "nullable": true
          }
        },
        "required": [
          "type"
        ]
      },
      "EventError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          },
          "retryAfterSeconds": {
            "type": "number"
          },
          "details": {
            "nullable": true
          }
        },
        "required": [
          "message"
        ],
        "additionalProperties": false
      },
      "MessageEventPayload": {
        "type": "object",
        "properties": {
          "message": {
            "$ref": "#/components/schemas/EventMessage"
          }
        },
        "required": [
          "message"
        ],
        "additionalProperties": false
      },
      "UsageRecordedPayload": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string"
          },
          "promptTokens": {
            "type": "number"
          },
          "completionTokens": {
            "type": "number"
          },
          "totalTokens": {
            "type": "number"
          },
          "inputTokens": {
            "type": "number"
          },
          "outputTokens": {
            "type": "number"
          },
          "cachedInputTokens": {
            "type": "number"
          },
          "cacheCreationInputTokens": {
            "type": "number"
          },
          "reasoningTokens": {
            "type": "number"
          },
          "toolTokens": {
            "type": "number"
          },
          "costMicros": {
            "type": "number"
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "model"
        ],
        "additionalProperties": false
      },
      "PermissionRequestPayload": {
        "type": "object",
        "properties": {
          "permissionId": {
            "type": "string"
          },
          "command": {
            "type": "string"
          },
          "toolCall": {
            "$ref": "#/components/schemas/EventToolCall"
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "additionalProperties": false
      },
      "PermissionResolvedPayload": {
        "type": "object",
        "properties": {
          "permissionId": {
            "type": "string"
          },
          "allowed": {
            "type": "boolean"
          },
          "reason": {
            "type": "string"
          },
          "toolCall": {
            "$ref": "#/components/schemas/EventToolCall"
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "allowed"
        ],
        "additionalProperties": false
      },
      "PermissionDeniedPayload": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          },
          "resourceId": {
            "type": "string"
          },
          "operation": {
            "type": "string"
          },
          "command": {
            "type": "string",
            "nullable": true
          },
          "host": {
            "type": "string",
            "nullable": true
          },
          "connectorId": {
            "type": "string"
          },
          "toolName": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "additionalProperties": false
      },
      "SessionSocketBackfillMessage": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "backfill"
            ]
          },
          "requestId": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionEvent"
            }
          },
          "nextCursor": {
            "type": "integer",
            "nullable": true
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "requestId",
          "events",
          "nextCursor",
          "hasMore"
        ]
      },
      "SessionSocketRunnerUnavailableMessage": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "runner_unavailable"
            ]
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "message"
        ]
      },
      "SessionSocketAckMessage": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ack"
            ]
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "requestId"
        ]
      },
      "SessionSocketErrorMessage": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "requestId": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "message"
        ]
      },
      "SessionSocketServerMessage": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SessionSocketEventMessage"
          },
          {
            "$ref": "#/components/schemas/SessionSocketBackfillMessage"
          },
          {
            "$ref": "#/components/schemas/SessionSocketRunnerUnavailableMessage"
          },
          {
            "$ref": "#/components/schemas/SessionSocketAckMessage"
          },
          {
            "$ref": "#/components/schemas/SessionSocketErrorMessage"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "event": "#/components/schemas/SessionSocketEventMessage",
            "backfill": "#/components/schemas/SessionSocketBackfillMessage",
            "runner_unavailable": "#/components/schemas/SessionSocketRunnerUnavailableMessage",
            "ack": "#/components/schemas/SessionSocketAckMessage",
            "error": "#/components/schemas/SessionSocketErrorMessage"
          }
        }
      },
      "SessionSocketPromptMessage": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "prompt"
            ]
          },
          "requestId": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "content"
        ]
      },
      "SessionSocketAbortMessage": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "abort"
            ]
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "SessionSocketSteerMessage": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "steer"
            ]
          },
          "requestId": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "content"
        ]
      },
      "SessionSocketBackfillRequestMessage": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "backfill"
            ]
          },
          "requestId": {
            "type": "string"
          },
          "cursor": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "eventType": {
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "SessionSocketClientMessage": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SessionSocketPromptMessage"
          },
          {
            "$ref": "#/components/schemas/SessionSocketAbortMessage"
          },
          {
            "$ref": "#/components/schemas/SessionSocketSteerMessage"
          },
          {
            "$ref": "#/components/schemas/SessionSocketBackfillRequestMessage"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "prompt": "#/components/schemas/SessionSocketPromptMessage",
            "abort": "#/components/schemas/SessionSocketAbortMessage",
            "steer": "#/components/schemas/SessionSocketSteerMessage",
            "backfill": "#/components/schemas/SessionSocketBackfillRequestMessage"
          }
        }
      },
      "RunnerWorkspaceFile": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "example": "notes/plan.md"
          },
          "content": {
            "type": "string",
            "example": "Project notes"
          }
        },
        "required": [
          "path",
          "content"
        ],
        "additionalProperties": false
      },
      "RunnerGitCredential": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "example": "x-access-token"
          },
          "password": {
            "type": "string",
            "example": "secret-value"
          }
        },
        "required": [
          "username",
          "password"
        ],
        "additionalProperties": false
      },
      "RunnerWorkspaceMount": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "source"
          },
          "type": {
            "type": "string",
            "enum": [
              "git_repository",
              "memory",
              "secret",
              "empty_dir"
            ],
            "example": "git_repository"
          },
          "mountPath": {
            "type": "string",
            "example": "/workspace/repos/realmroot/enbor"
          },
          "url": {
            "type": "string",
            "example": "https://github.com/realmroot/enbor.git"
          },
          "ref": {
            "type": "string",
            "example": "main"
          },
          "credential": {
            "$ref": "#/components/schemas/RunnerGitCredential"
          },
          "memoryRef": {
            "type": "string",
            "example": "enbor://memories/0195f5d6-7c20-7000-8000-00000000000a"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "readOnly": {
            "type": "boolean"
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunnerWorkspaceFile"
            }
          }
        },
        "required": [
          "name",
          "type",
          "mountPath"
        ],
        "additionalProperties": false
      },
      "RunnerWorkspaceManifest": {
        "type": "object",
        "properties": {
          "root": {
            "type": "string",
            "enum": [
              "/workspace"
            ],
            "example": "/workspace"
          },
          "mounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunnerWorkspaceMount"
            }
          }
        },
        "required": [
          "root",
          "mounts"
        ],
        "additionalProperties": false
      },
      "RunnerVolume": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "source"
          },
          "type": {
            "type": "string",
            "enum": [
              "secret",
              "git_repository",
              "memory",
              "empty_dir"
            ],
            "example": "git_repository"
          },
          "secretRef": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "example": "https://github.com/realmroot/enbor.git"
          },
          "ref": {
            "type": "string",
            "example": "main"
          },
          "memoryRef": {
            "type": "string",
            "example": "enbor://memories/0195f5d6-7c20-7000-8000-00000000000a"
          }
        },
        "required": [
          "name",
          "type"
        ],
        "additionalProperties": false
      },
      "RunnerVolumeMount": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "source"
          },
          "mountPath": {
            "type": "string",
            "example": "/workspace/repos/realmroot/enbor"
          },
          "readOnly": {
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "mountPath"
        ],
        "additionalProperties": false
      },
      "RunnerToolCall": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "call_abc123"
          },
          "name": {
            "type": "string",
            "example": "bash"
          },
          "arguments": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "input": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "approved": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false
      },
      "RunnerWorkPayload": {
        "type": "object",
        "properties": {
          "protocol": {
            "type": "string",
            "enum": [
              "enbor-runner-work"
            ],
            "x-enum-varnames": [
              "EnborRunnerWork"
            ]
          },
          "type": {
            "type": "string",
            "example": "session.start"
          },
          "sessionId": {
            "type": "string",
            "example": "0195f5d6-7c20-7000-8000-00000000000e"
          },
          "hostingMode": {
            "type": "string",
            "example": "self_hosted"
          },
          "runtime": {
            "type": "string",
            "example": "codex"
          },
          "runtimeConfig": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "provider": {
            "type": "string",
            "example": "provider_codex"
          },
          "model": {
            "type": "string",
            "example": "gpt-5.3-codex"
          },
          "agentSnapshot": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "environmentSnapshot": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            }
          },
          "runtimeDriver": {
            "type": "string",
            "example": "codex-self-hosted"
          },
          "runtimeRequirement": {
            "$ref": "#/components/schemas/RunnerRuntimeRequirement"
          },
          "env": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "workspaceManifest": {
            "$ref": "#/components/schemas/RunnerWorkspaceManifest"
          },
          "prompt": {
            "type": "string",
            "nullable": true
          },
          "resume": {
            "type": "boolean"
          },
          "resumeToken": {
            "type": "string",
            "nullable": true
          },
          "approved": {
            "type": "boolean"
          },
          "toolCallId": {
            "type": "string",
            "example": "call_abc123"
          },
          "toolName": {
            "type": "string",
            "example": "bash"
          },
          "input": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "toolCall": {
            "$ref": "#/components/schemas/RunnerToolCall"
          }
        },
        "additionalProperties": false
      },
      "RunnerRuntimeRequirement": {
        "type": "object",
        "properties": {
          "runtime": {
            "type": "string",
            "enum": [
              "enbor",
              "claude-code",
              "codex",
              "copilot"
            ]
          },
          "model": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "runtime"
        ],
        "additionalProperties": false
      },
      "RunnerRuntimeToolCall": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "tool_1"
          },
          "name": {
            "type": "string",
            "example": "bash"
          },
          "input": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "arguments": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false
      },
      "RunnerRuntimeRequest": {
        "type": "object",
        "properties": {
          "toolCalls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunnerRuntimeToolCall"
            }
          }
        },
        "additionalProperties": false
      },
      "RunnerOpaqueJsonObject": {
        "type": "object",
        "properties": {},
        "additionalProperties": {
          "nullable": true
        }
      },
      "RunnerSessionCommand": {
        "type": "object",
        "properties": {},
        "additionalProperties": {
          "nullable": true
        }
      },
      "RunnerSandboxRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "sandbox.execute",
              "sandbox.stop",
              "sandbox.readMemoryStores"
            ],
            "example": "sandbox.execute"
          },
          "toolCallId": {
            "type": "string",
            "example": "call_abc123"
          },
          "toolName": {
            "type": "string",
            "example": "bash"
          },
          "input": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "volumes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunnerVolume"
            }
          },
          "volumeMounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunnerVolumeMount"
            }
          }
        },
        "required": [
          "type"
        ],
        "additionalProperties": false
      },
      "RunnerChannelMessage": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "runner.channel.accepted"
                ]
              },
              "runnerId": {
                "type": "string",
                "example": "0195f5d6-7c20-7000-8000-000000000011"
              },
              "environmentId": {
                "type": "string"
              }
            },
            "required": [
              "type"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "work.assigned"
                ]
              },
              "runnerId": {
                "type": "string",
                "example": "0195f5d6-7c20-7000-8000-000000000011"
              },
              "lease": {
                "$ref": "#/components/schemas/RunnerOpaqueJsonObject"
              },
              "workItem": {
                "$ref": "#/components/schemas/RunnerOpaqueJsonObject"
              }
            },
            "required": [
              "type",
              "lease",
              "workItem"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "session.command"
                ]
              },
              "requestId": {
                "type": "string"
              },
              "sessionId": {
                "type": "string",
                "example": "0195f5d6-7c20-7000-8000-00000000000e"
              },
              "runnerId": {
                "type": "string",
                "example": "0195f5d6-7c20-7000-8000-000000000011"
              },
              "command": {
                "$ref": "#/components/schemas/RunnerSessionCommand"
              }
            },
            "required": [
              "type",
              "sessionId",
              "command"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "session.command.result"
                ]
              },
              "requestId": {
                "type": "string"
              },
              "sessionId": {
                "type": "string",
                "example": "0195f5d6-7c20-7000-8000-00000000000e"
              },
              "runnerId": {
                "type": "string",
                "example": "0195f5d6-7c20-7000-8000-000000000011"
              },
              "accepted": {
                "type": "boolean"
              },
              "error": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "requestId",
              "sessionId",
              "accepted"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "sandbox.request"
                ]
              },
              "requestId": {
                "type": "string"
              },
              "sessionId": {
                "type": "string",
                "example": "0195f5d6-7c20-7000-8000-00000000000e"
              },
              "runnerId": {
                "type": "string",
                "example": "0195f5d6-7c20-7000-8000-000000000011"
              },
              "request": {
                "$ref": "#/components/schemas/RunnerSandboxRequest"
              }
            },
            "required": [
              "type",
              "requestId",
              "sessionId",
              "request"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "sandbox.response"
                ]
              },
              "requestId": {
                "type": "string"
              },
              "sessionId": {
                "type": "string",
                "example": "0195f5d6-7c20-7000-8000-00000000000e"
              },
              "runnerId": {
                "type": "string",
                "example": "0195f5d6-7c20-7000-8000-000000000011"
              },
              "ok": {
                "type": "boolean"
              },
              "result": {
                "$ref": "#/components/schemas/RunnerOpaqueJsonObject"
              },
              "error": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "requestId",
              "sessionId",
              "ok"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "session.backfill_request"
                ]
              },
              "eventId": {
                "type": "string"
              },
              "sessionId": {
                "type": "string",
                "example": "0195f5d6-7c20-7000-8000-00000000000e"
              }
            },
            "required": [
              "type",
              "eventId",
              "sessionId"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "session.backfill_response"
                ]
              },
              "eventId": {
                "type": "string"
              },
              "sessionId": {
                "type": "string",
                "example": "0195f5d6-7c20-7000-8000-00000000000e"
              },
              "events": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RunnerOpaqueJsonObject"
                }
              },
              "error": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "eventId",
              "sessionId",
              "events"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "runner.event"
                ]
              },
              "sessionId": {
                "type": "string",
                "example": "0195f5d6-7c20-7000-8000-00000000000e"
              },
              "record": {
                "$ref": "#/components/schemas/RunnerOpaqueJsonObject"
              }
            },
            "required": [
              "type",
              "sessionId",
              "record"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "runner.event.accepted"
                ]
              },
              "eventId": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "eventId"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "session.channel.error"
                ]
              },
              "eventId": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "message"
            ],
            "additionalProperties": false
          }
        ]
      },
      "PublicConfig": {
        "type": "object",
        "properties": {
          "version": {
            "type": "number",
            "enum": [
              1
            ],
            "example": 1
          },
          "service": {
            "$ref": "#/components/schemas/PublicServiceConfig"
          },
          "auth": {
            "$ref": "#/components/schemas/PublicAuthConfig"
          }
        },
        "required": [
          "version",
          "service",
          "auth"
        ]
      },
      "PublicServiceConfig": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "enum": [
              "Enbor"
            ],
            "example": "Enbor"
          },
          "origin": {
            "type": "string",
            "format": "uri",
            "example": "https://enbor.example.com"
          }
        },
        "required": [
          "name",
          "origin"
        ]
      },
      "PublicAuthConfig": {
        "type": "object",
        "properties": {
          "oidc": {
            "$ref": "#/components/schemas/PublicOidcConfig"
          }
        },
        "required": [
          "oidc"
        ]
      },
      "PublicOidcConfig": {
        "type": "object",
        "nullable": true,
        "properties": {
          "issuer": {
            "type": "string",
            "format": "uri",
            "example": "https://id.example.com/api/auth"
          },
          "resource": {
            "type": "string",
            "format": "uri",
            "example": "https://enbor.example.com"
          },
          "runner": {
            "$ref": "#/components/schemas/PublicOidcClientConfig"
          }
        },
        "required": [
          "issuer",
          "resource"
        ]
      },
      "PublicOidcClientConfig": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "example": "client_abc123"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "openid",
              "email",
              "profile"
            ]
          }
        },
        "required": [
          "clientId",
          "scopes"
        ]
      },
      "AuthConfig": {
        "type": "object",
        "properties": {
          "methods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthMethod"
            }
          }
        },
        "required": [
          "methods"
        ]
      },
      "AuthMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "oidc"
            ],
            "example": "oidc"
          },
          "issuer": {
            "type": "string",
            "format": "uri",
            "example": "https://id.example.com/api/auth"
          },
          "clientId": {
            "type": "string",
            "example": "client_abc123"
          }
        },
        "required": [
          "type",
          "issuer",
          "clientId"
        ]
      },
      "AuthSession": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/AuthUser"
          },
          "organization": {
            "$ref": "#/components/schemas/AuthOrganization"
          },
          "project": {
            "$ref": "#/components/schemas/AuthProject"
          }
        },
        "required": [
          "user",
          "organization",
          "project"
        ]
      },
      "AuthUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "user_abc123"
          },
          "email": {
            "type": "string",
            "example": "user@example.com"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Ada Lovelace"
          }
        },
        "required": [
          "id",
          "email",
          "name"
        ]
      },
      "AuthOrganization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "org_abc123"
          },
          "name": {
            "type": "string",
            "example": "Example Org"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "AuthProject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "0195f5d6-7c20-7000-8000-000000000001"
          },
          "name": {
            "type": "string",
            "example": "Default"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "validation_error"
              },
              "message": {
                "type": "string",
                "example": "Invalid request"
              },
              "issues": {
                "type": "array",
                "items": {
                  "nullable": true
                }
              },
              "details": {
                "type": "object",
                "additionalProperties": {
                  "nullable": true
                }
              }
            },
            "required": [
              "type",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "ProjectListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/ListPagination"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "0195f5d6-7c20-7000-8000-000000000001"
          },
          "name": {
            "type": "string",
            "example": "Control Plane"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "createdAt",
          "updatedAt"
        ]
      },
      "ListPagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "example": 50
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "example": "eyJjcmVhdGVkQXQiOiIyMDI2LTA1LTIyVDAwOjAwOjAwLjAwMFoiLCJpZCI6ImFnZW50X2FiYzEyMyJ9"
          },
          "hasMore": {
            "type": "boolean",
            "example": false
          }
        },
        "required": [
          "limit",
          "nextCursor",
          "hasMore"
        ]
      },
      "CreateProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "example": "Control Plane"
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "example": "Research workspace"
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false
      },
      "AgentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Agent"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/ListPagination"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "Agent": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ResourceMetadata"
          },
          "spec": {
            "$ref": "#/components/schemas/AgentSpec"
          },
          "status": {
            "$ref": "#/components/schemas/AgentStatus"
          }
        },
        "required": [
          "metadata",
          "spec",
          "status"
        ]
      },
      "ResourceMetadata": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "example": "0195f5d6-7c20-7000-8000-000000000017"
          },
          "projectId": {
            "type": "string",
            "nullable": true,
            "example": "0195f5d6-7c20-7000-8000-000000000001"
          },
          "name": {
            "type": "string",
            "example": "Default resource"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "Default project resource."
          },
          "labels": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "annotations": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "uid",
          "projectId",
          "name",
          "description",
          "labels",
          "annotations",
          "createdBy",
          "createdAt",
          "updatedAt"
        ]
      },
      "AgentSpec": {
        "type": "object",
        "properties": {
          "systemPrompt": {
            "type": "string",
            "example": "Answer with citations."
          },
          "provider": {
            "type": "string",
            "nullable": true,
            "example": "workers-ai"
          },
          "model": {
            "type": "string",
            "nullable": true,
            "example": "@cf/moonshotai/kimi-k2.6"
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "enbor@code-review"
            ]
          },
          "subagents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentSubagentReference"
            },
            "example": [
              {
                "agentId": "0195f5d6-7c20-7000-8000-000000000005",
                "name": "reviewer"
              }
            ]
          },
          "allowedTools": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120
            },
            "example": [
              "read",
              "bash",
              "edit"
            ]
          },
          "mcpConnectors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "github"
            ]
          },
          "identity": {
            "$ref": "#/components/schemas/IdentityDescriptor"
          }
        },
        "required": [
          "systemPrompt",
          "provider",
          "model",
          "skills",
          "subagents",
          "allowedTools",
          "mcpConnectors",
          "identity"
        ]
      },
      "AgentSubagentReference": {
        "type": "object",
        "properties": {
          "agentId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160,
            "description": "Existing Agent resource in the same project.",
            "example": "0195f5d6-7c20-7000-8000-000000000005"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "description": "Stable runtime alias used to address the referenced Agent as a sub-agent.",
            "example": "reviewer"
          }
        },
        "required": [
          "agentId",
          "name"
        ],
        "additionalProperties": false
      },
      "IdentityDescriptor": {
        "type": "object",
        "nullable": true,
        "properties": {
          "identityId": {
            "type": "string",
            "example": "0195f5d6-7c20-7000-8000-000000000004"
          },
          "agentId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160,
            "pattern": "^\\S+$",
            "description": "Realmroot internal Identity resource id. It is not the stable OIDC subject and must not be used for Inbox addressing.",
            "example": "019ff41a-7da6-708f-8b05-44d4d0373685"
          },
          "issuer": {
            "type": "string",
            "format": "uri",
            "example": "https://id.realmroot.dev/api/auth"
          },
          "subject": {
            "type": "string",
            "description": "Stable OIDC subject used for Inbox addressing. New Realmroot subjects are bare UUIDv7 values; legacy opaque snapshot values remain readable.",
            "example": "019ff41a-7da6-708f-8b05-44d4d0373685"
          },
          "username": {
            "type": "string",
            "example": "researcher"
          },
          "runtime": {
            "$ref": "#/components/schemas/IdentityRuntime"
          }
        },
        "required": [
          "identityId",
          "agentId",
          "issuer",
          "subject",
          "username",
          "runtime"
        ],
        "additionalProperties": false
      },
      "IdentityRuntime": {
        "type": "string",
        "minLength": 1,
        "maxLength": 64,
        "pattern": "^[a-z0-9][a-z0-9._-]{0,63}$",
        "description": "Canonical runtime identifier asserted by Realmroot. Binding to an Agent additionally requires a registered Enbor runtime driver.",
        "example": "codex"
      },
      "AgentStatus": {
        "type": "object",
        "properties": {
          "phase": {
            "$ref": "#/components/schemas/ResourcePhase"
          },
          "currentVersionId": {
            "type": "string",
            "nullable": true,
            "example": "0195f5d6-7c20-7000-8000-000000000003"
          },
          "version": {
            "type": "integer",
            "example": 1
          },
          "schedulable": {
            "type": "boolean",
            "description": "Whether the active bound Identity can currently resolve a compatible execution environment for a Session, without requiring a Trigger.",
            "example": true
          }
        },
        "required": [
          "phase",
          "currentVersionId",
          "version",
          "schedulable"
        ]
      },
      "ResourcePhase": {
        "type": "string",
        "enum": [
          "active"
        ]
      },
      "CreateAgentRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ResourceCreateMetadata"
          },
          "spec": {
            "type": "object",
            "properties": {
              "systemPrompt": {
                "type": "string",
                "minLength": 1,
                "maxLength": 8000,
                "example": "Answer with citations."
              },
              "provider": {
                "type": "string",
                "nullable": true,
                "minLength": 1,
                "example": "workers-ai"
              },
              "model": {
                "type": "string",
                "nullable": true,
                "minLength": 1,
                "example": "@cf/moonshotai/kimi-k2.6"
              },
              "skills": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 256
                },
                "maxItems": 100,
                "example": [
                  "enbor@code-review"
                ]
              },
              "subagents": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AgentSubagentReference"
                },
                "maxItems": 50,
                "example": [
                  {
                    "agentId": "0195f5d6-7c20-7000-8000-000000000005",
                    "name": "reviewer"
                  }
                ]
              },
              "allowedTools": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 120
                },
                "maxItems": 100,
                "example": [
                  "read",
                  "bash",
                  "edit"
                ]
              },
              "mcpConnectors": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 120
                },
                "maxItems": 50,
                "example": [
                  "github"
                ]
              },
              "identityRef": {
                "type": "string",
                "nullable": true,
                "minLength": 1,
                "example": "0195f5d6-7c20-7000-8000-000000000004"
              }
            },
            "required": [
              "systemPrompt"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "metadata",
          "spec"
        ],
        "additionalProperties": false
      },
      "ResourceCreateMetadata": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160,
            "example": "Default resource"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000,
            "example": "Default project resource."
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false,
        "example": {
          "name": "Research assistant"
        }
      },
      "UpdateAgentRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ResourceUpdateMetadata"
          },
          "spec": {
            "type": "object",
            "properties": {
              "systemPrompt": {
                "type": "string",
                "minLength": 1,
                "maxLength": 8000,
                "example": "Answer with citations."
              },
              "provider": {
                "type": "string",
                "nullable": true,
                "minLength": 1,
                "example": "workers-ai"
              },
              "model": {
                "type": "string",
                "nullable": true,
                "minLength": 1,
                "example": "@cf/moonshotai/kimi-k2.6"
              },
              "skills": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 256
                },
                "maxItems": 100,
                "example": [
                  "enbor@code-review"
                ]
              },
              "subagents": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AgentSubagentReference"
                },
                "maxItems": 50,
                "example": [
                  {
                    "agentId": "0195f5d6-7c20-7000-8000-000000000005",
                    "name": "reviewer"
                  }
                ]
              },
              "allowedTools": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 120
                },
                "maxItems": 100,
                "example": [
                  "read",
                  "bash",
                  "edit"
                ]
              },
              "mcpConnectors": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 120
                },
                "maxItems": 50,
                "example": [
                  "github"
                ]
              },
              "identityRef": {
                "type": "string",
                "nullable": true,
                "minLength": 1,
                "example": "0195f5d6-7c20-7000-8000-000000000004"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "ResourceUpdateMetadata": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160,
            "example": "Default resource"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000,
            "example": "Default project resource."
          }
        },
        "additionalProperties": false
      },
      "AgentVersionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentVersion"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/ListPagination"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "AgentVersion": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ResourceMetadata"
          },
          "spec": {
            "$ref": "#/components/schemas/AgentSpec"
          },
          "status": {
            "$ref": "#/components/schemas/AgentVersionStatus"
          }
        },
        "required": [
          "metadata",
          "spec",
          "status"
        ]
      },
      "AgentVersionStatus": {
        "type": "object",
        "properties": {
          "agentId": {
            "type": "string",
            "example": "0195f5d6-7c20-7000-8000-000000000002"
          },
          "version": {
            "type": "integer",
            "example": 1
          }
        },
        "required": [
          "agentId",
          "version"
        ]
      },
      "EnvironmentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Environment"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/ListPagination"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "Environment": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ResourceMetadata"
          },
          "spec": {
            "$ref": "#/components/schemas/EnvironmentSpec"
          },
          "status": {
            "$ref": "#/components/schemas/EnvironmentStatus"
          }
        },
        "required": [
          "metadata",
          "spec",
          "status"
        ]
      },
      "EnvironmentSpec": {
        "type": "object",
        "properties": {
          "scope": {
            "$ref": "#/components/schemas/EnvironmentScope"
          },
          "type": {
            "$ref": "#/components/schemas/EnvironmentType"
          },
          "networking": {
            "$ref": "#/components/schemas/EnvironmentNetworking"
          },
          "packages": {
            "$ref": "#/components/schemas/EnvironmentPackages"
          },
          "variables": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "maxLength": 500
                },
                "required": {
                  "type": "boolean"
                }
              },
              "additionalProperties": false
            },
            "example": {
              "NODE_ENV": {
                "description": "Runtime mode"
              }
            }
          }
        },
        "required": [
          "scope",
          "type",
          "networking",
          "packages",
          "variables"
        ]
      },
      "EnvironmentScope": {
        "type": "string",
        "enum": [
          "project",
          "organization"
        ],
        "example": "organization"
      },
      "EnvironmentType": {
        "type": "string",
        "enum": [
          "cloud",
          "self_hosted"
        ],
        "example": "cloud"
      },
      "EnvironmentNetworking": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "closed",
              "limited",
              "open"
            ]
          },
          "allowMcpServers": {
            "type": "boolean"
          },
          "allowPackageManagers": {
            "type": "boolean"
          },
          "allowedHosts": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "pattern": "^[a-z0-9.-]+$"
            },
            "maxItems": 100
          }
        },
        "required": [
          "type",
          "allowMcpServers",
          "allowPackageManagers"
        ],
        "additionalProperties": false,
        "example": {
          "type": "limited",
          "allowMcpServers": false,
          "allowPackageManagers": true,
          "allowedHosts": [
            "api.example.com"
          ]
        }
      },
      "EnvironmentPackages": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "packages"
            ]
          },
          "apt": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            },
            "maxItems": 200
          },
          "cargo": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            },
            "maxItems": 200
          },
          "gem": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            },
            "maxItems": 200
          },
          "go": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            },
            "maxItems": 200
          },
          "npm": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            },
            "maxItems": 200
          },
          "pip": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            },
            "maxItems": 200
          },
          "webi": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 3,
              "maxLength": 160,
              "pattern": "^[a-z0-9][a-z0-9._-]*@v?[0-9][a-zA-Z0-9._-]*$"
            },
            "maxItems": 200
          }
        },
        "required": [
          "type",
          "apt",
          "cargo",
          "gem",
          "go",
          "npm",
          "pip",
          "webi"
        ],
        "additionalProperties": false
      },
      "EnvironmentStatus": {
        "type": "object",
        "properties": {
          "phase": {
            "$ref": "#/components/schemas/ResourcePhase"
          },
          "currentVersionId": {
            "type": "string",
            "nullable": true,
            "example": "0195f5d6-7c20-7000-8000-000000000006"
          },
          "version": {
            "type": "integer",
            "example": 1
          }
        },
        "required": [
          "phase",
          "currentVersionId",
          "version"
        ]
      },
      "CreateEnvironmentRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResourceCreateMetadata"
              },
              {
                "example": {
                  "name": "Node workspace"
                }
              }
            ]
          },
          "spec": {
            "type": "object",
            "properties": {
              "scope": {
                "$ref": "#/components/schemas/EnvironmentScope"
              },
              "type": {
                "$ref": "#/components/schemas/EnvironmentType"
              },
              "networking": {
                "$ref": "#/components/schemas/EnvironmentNetworking"
              },
              "packages": {
                "$ref": "#/components/schemas/EnvironmentPackages"
              },
              "variables": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "maxLength": 500
                    },
                    "required": {
                      "type": "boolean"
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "NODE_ENV": {
                    "required": true
                  }
                }
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "metadata",
          "spec"
        ],
        "additionalProperties": false
      },
      "UpdateEnvironmentRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ResourceUpdateMetadata"
          },
          "spec": {
            "type": "object",
            "properties": {
              "scope": {
                "$ref": "#/components/schemas/EnvironmentScope"
              },
              "type": {
                "$ref": "#/components/schemas/EnvironmentType"
              },
              "networking": {
                "$ref": "#/components/schemas/EnvironmentNetworking"
              },
              "packages": {
                "$ref": "#/components/schemas/EnvironmentPackages"
              },
              "variables": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "maxLength": 500
                    },
                    "required": {
                      "type": "boolean"
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "NODE_ENV": {
                    "required": true
                  }
                }
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "EnvironmentVersionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvironmentVersion"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/ListPagination"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "EnvironmentVersion": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ResourceMetadata"
          },
          "spec": {
            "$ref": "#/components/schemas/EnvironmentSpec"
          },
          "status": {
            "$ref": "#/components/schemas/EnvironmentVersionStatus"
          }
        },
        "required": [
          "metadata",
          "spec",
          "status"
        ]
      },
      "EnvironmentVersionStatus": {
        "type": "object",
        "properties": {
          "environmentId": {
            "type": "string",
            "example": "0195f5d6-7c20-7000-8000-000000000005"
          },
          "version": {
            "type": "integer",
            "example": 1
          }
        },
        "required": [
          "environmentId",
          "version"
        ]
      },
      "IdentityListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Identity"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/ListPagination"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "Identity": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ResourceMetadata"
          },
          "spec": {
            "type": "object",
            "properties": {
              "username": {
                "type": "string"
              },
              "runtime": {
                "$ref": "#/components/schemas/IdentityRuntime"
              }
            },
            "required": [
              "username",
              "runtime"
            ]
          },
          "status": {
            "type": "object",
            "properties": {
              "phase": {
                "$ref": "#/components/schemas/ResourcePhase"
              },
              "state": {
                "type": "string",
                "enum": [
                  "provisioning",
                  "active",
                  "error"
                ]
              },
              "failureCode": {
                "type": "string",
                "nullable": true
              },
              "boundAgentId": {
                "type": "string",
                "nullable": true
              },
              "descriptor": {
                "$ref": "#/components/schemas/IdentityDescriptor"
              }
            },
            "required": [
              "phase",
              "state",
              "failureCode",
              "boundAgentId",
              "descriptor"
            ]
          }
        },
        "required": [
          "metadata",
          "spec",
          "status"
        ]
      },
      "CreateIdentityRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ResourceCreateMetadata"
          },
          "spec": {
            "type": "object",
            "properties": {
              "username": {
                "type": "string",
                "minLength": 1,
                "maxLength": 80,
                "pattern": "^[a-z0-9][a-z0-9-]*$"
              },
              "runtime": {
                "$ref": "#/components/schemas/IdentityRuntime"
              }
            },
            "required": [
              "username",
              "runtime"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "metadata",
          "spec"
        ],
        "additionalProperties": false
      },
      "InboxNotificationReceipt": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          },
          "triggerRunId": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "accepted"
            ]
          }
        },
        "required": [
          "eventId",
          "subscriptionId",
          "triggerRunId",
          "state"
        ]
      },
      "InboxNotification": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512
          },
          "type": {
            "type": "string",
            "enum": [
              "message.created"
            ]
          },
          "subscriptionId": {
            "type": "string",
            "pattern": "^sub_[0-9a-f]{32}$"
          },
          "agentId": {
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-7[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
          },
          "messageId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512
          },
          "routingKey": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "eventId",
          "type",
          "subscriptionId",
          "agentId",
          "messageId",
          "occurredAt"
        ],
        "additionalProperties": false
      },
      "ProviderListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Provider"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "number"
              },
              "nextCursor": {
                "type": "string",
                "nullable": true
              },
              "hasMore": {
                "type": "boolean"
              }
            },
            "required": [
              "limit",
              "nextCursor",
              "hasMore"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "Provider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "anthropic"
          },
          "slug": {
            "type": "string",
            "example": "anthropic"
          },
          "displayName": {
            "type": "string",
            "example": "Anthropic"
          },
          "enabled": {
            "type": "boolean",
            "example": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "example": {}
          },
          "modelCatalogState": {
            "type": "string",
            "enum": [
              "ready",
              "error"
            ],
            "example": "ready"
          },
          "lastError": {
            "$ref": "#/components/schemas/ProviderError"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "enabled",
          "metadata",
          "modelCatalogState",
[...]
